@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Karla", sans-serif;
}

.landing-page {
  position: absolute;
  left: 0;
  width: 550px;
  height: 700px;
  background: url(./images/blue_blob.png) left bottom no-repeat,
    url(./images/yellow_blob.png) right top no-repeat;
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-heading {
  width: 412px;
  height: 41px;
  font-family: Karla;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7px;
  font-size: 31.25px;
  line-height: 37px;
  color: #293264;
}

.landing-text {
  width: 318px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin-bottom: 29px;
}

.start-quiz-btn {
  cursor: pointer;
  border: none;
  width: 193px;
  height: 52px;
  background: #4d5b9e;
  border-radius: 15px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f5f7fb;
}

.start-quiz-btn:hover {
  opacity: 75%;
}

.start-quiz-btn:active {
  box-shadow: inset 1px 1px 10px #333;
}

.quiz {
  margin: 0 auto;
  position: relative;
  padding-left: 75px;
  width: 550px;
  height: 700px;
  background: url(./images/blue_blob_small.png) left bottom no-repeat,
    url(./images/yellow_blob_small.png) right top no-repeat;
  background-color: #f5f7fb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.question {
  margin-top: 15px;
  max-width: 400px;
}

.question-border {
  width: 399px;
  border: 0.794239px solid #dbdef0;
}

.question-heading {
  max-width: 400px;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

.answer-container {
  display: flex;
}

.answer {
  cursor: pointer;
  padding: 4px 10px;
  margin: 12px 8px 14px 0;
  border: solid 1px #4d5b9e;
  border-radius: 8px;
  font-family: "Inter";
  background-color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #293264;
}

.btn-container {
  width: 425px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-answers {
  order: 1;
  cursor: pointer;
  width: 120px;
  height: 35px;
  background: #4d5b9e;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #f5f7fb;
  align-self: center;
  border: none;
}
.check-answers:hover {
  opacity: 75%;
}
.check-answers:active {
  box-shadow: inset 1px 1px 10px #333;
}
.game-score {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  margin-right: 15px;
  color: #293264;
}
